{% extends 'base.html.twig' %}

{% block title %}Ingredient index{% endblock %}

{% block main %}
    <h1>Ingredient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Allergène ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.id }}</td>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.isAllergen ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_ingredient_show', {'id': ingredient.id}) }}">Afficher</a>
                    <a href="{{ path('app_ingredient_edit', {'id': ingredient.id}) }}">Modifier</a>
                </td>
                </td> {{ dump(ingredient.mealList)}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ingredient_new') }}">Ajouter un ingredient</a>

    <a href="{{ path('app_meal_index') }}">Voir les plats</a>
{% endblock %}
