{% extends 'base.html.twig' %}

{% block title %}Meal index{% endblock %}

{% block main %}
    <h1>Meal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>IsFavorite</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meal in meals %}
            <tr>
                <td>{{ meal.id }}</td>
                <td>{{ meal.name }}</td>
                <td>{{ meal.isFavorite ? 'Yes' : 'No' }}</td>
                {% if meal.image %}
                    <td><img src="{{ asset('/uploads/meal/' ~ meal.image)}}" /></td>
                {% else %}
                    <td>Pas d'image pour ce plat</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_meal_show', {'id': meal.id}) }}">show</a>
                    <a href="{{ path('app_meal_edit', {'id': meal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_meal_new') }}">Create new</a>
{% endblock %}
