{% extends 'base.html.twig' %}

{% block title %}Meal index{% endblock %}

{% block main %}
    <h1>Liste des plats</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Type de plat</th>
                <th>Nom</th>
                <th>Favoris ?</th>
                <th>Image</th>
                <th>ingrédients</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meal in meals %}
            <tr>
                <td>{{ meal.mealCategory }}</td>
                <td>{{ meal.name }}</td>
                <td>{{ meal.isFavorite ? 'Yes' : 'No' }}</td>
                {% if meal.image %}
                    <td><img src="{{ asset('/uploads/meal/' ~ meal.image)}}" class="mealImage"/></td>
                {% else %}
                    <td>Pas d'image pour ce plat</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_meal_show', {'id': meal.id}) }}">Afficher</a>
                    <a href="{{ path('app_meal_edit', {'id': meal.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_meal_new') }}">Ajouter un plat</a>
    <a href="{{ path('app_ingredient_index') }}">Voir les ingrédients</a>
{% endblock %}
