{% extends 'base.html.twig' %}

{% block title %}Meal{% endblock %}

{% block main %}
    <h1>Meal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meal.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ meal.name }}</td>
            </tr>
            <tr>
                <th>IsFavorite</th>
                <td>{{ meal.isFavorite ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('/uploads/meal/' ~ meal.image)}}"/></td>
            </tr>
        </tbody>
    </table>
    <h2> Bonjour </h2>

    <a href="{{ path('app_meal_index') }}">back to list</a>

    <a href="{{ path('app_meal_edit', {'id': meal.id}) }}">edit</a>

    {{ include('meal/_delete_form.html.twig') }}
{% endblock %}
