{% extends 'base.html.twig' %}

{% block title %}Meal{% endblock %}

{% block main %}
    <h1>Meal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meal.id }}</td>
            </tr>
            <tr>
                <th>Type de plat</th>
                <td>{{ meal.mealCategory }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ meal.name }}</td>
            </tr>
            <tr>
                <th>Est favoris</th>
                <td>{{ meal.isFavorite ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('/uploads/meal/' ~ meal.image)}}" class="mealImage"/></td>
            </tr>
            <tr>
                <th>Prix :</th>
                <td>{{ meal.price }}€</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_meal_index') }}">Retour à la liste des plats</a>

    <a href="{{ path('app_meal_edit', {'id': meal.id}) }}">Modifier</a>

    {{ include('meal/_delete_form.html.twig') }}
{% endblock main %}
